<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
        <listener class-name="reportsAndLogs.ExtentTestNGListener" />
    </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNGbasics.Admin"/>
      <class name="testNGbasics.ABC"/>
      <class name="testNGbasics.DashBoardTest"/>
      <class name="testNGbasics.TestNGLearn"/>
      <class name="testNGbasics.OrangeHRMLogin"/>
      <class name="testNGbasics.Leave"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
